html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
}

header > div:nth-child(3) {
  margin-left: auto;
}

.header-links {
  margin: 10px;
}

.content {
  flex: 1 0 auto;
  margin: 10px;
}

#google-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#search-form {
  display: flex;
  align-content: center;
  border: 1pt red solid;
  justify-content: center;
  align-content: space-between;
  padding: 10px;
}

#search-box {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  border: 1pt green solid;
  margin: auto;
  border-radius: 25px;
  width: 100%;
}

form {
  /* align-items: center; */
}

#standard-search, #random-search {
  /* align-self: center; */
  padding: 10px;
  margin: 10px;
  justify-content: center;
}

footer {
  display: flex;
  flex-shrink: 0;
  /* align-content: flex-end; */
}

footer > div:nth-child(3) {
  margin-left: auto;
}

.footer-links {
  margin: 15px;
}